#msform p {
    color: grey
}

#heading {
    text-transform: uppercase;
    color: #00bc8c;
    font-weight: normal
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

.form-card {
    text-align: left
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform input,
#msform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00bc8c;
    outline-width: 0
}

#msform .action-button {
    width: 100px;
    background: #00bc8c;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right
}

#msform .action-button:hover,
#msform .action-button:focus {
    background-color: #00a57c;
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #000000
}

.card {
    z-index: 0;
    border: none;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #00bc8c;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

.purple-text {
    color: #00bc8c;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.fieldlabels {
    color: gray;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    margin-left: -20px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #00bc8c
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 14%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #account:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f007";
}
#progressbar #personal:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0f9";
}

#progressbar #payment:before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f015";
}

#progressbar #laboral:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f500";
}

#progressbar #conocimiento:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0c0";
}

#progressbar #competencia:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f501";
}

#progressbar #documentos:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f07c";
}

#progressbar #actividades:before {
    font-family: "Font Awesome 5 Free";
    content: "";
}

#progressbar #confirm:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f022";
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #00bc8c
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #00bc8c
}

.fit-image {
    width: 100%;
    object-fit: cover
}

.form-control {
    border-radius: 0rem !important;

}
.select2-container--default .select2-selection--single {
  
    height: calc(2.25rem + 2px)!important;
    border: 1px solid #ced4da!important;
    border-radius: 0px!important;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder{
    color: #495057!important;
}

.btn-hijo {
    color: #fff;
    background-color: #00bc8c;
    border-color: #00bc8c;
}

.btn-hijo:hover {
    color: #fff;
    background-color: #00a57c;
    border-color: #00a57c;
}
